$primary-color: #8e2de2;
$secondary-color: #4a00e0;
$base-font-size: 14px;
$base-lign-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: $base-font-size;
}

.page-wrapper {
  margin: 30px 0;
  text-align: center;
}

.toggle {
  margin-top: 2rem;
  color: #555;

  & .toggle-btn {
    margin: 0 1rem;

    @media screen and (min-width: 1023px) {
      width: 70%;
      margin: 0 auto;
    }

    @media screen and (min-width: 1400px) {
      width: 50%;
      margin: 0 auto;
    }
  }

  & .checkbox {
    display: none;

    &:checked {
      & + .sub {
        justify-content: flex-end;
      }

      & ~ .wrapper .pricing-table .content .price .year-price {
        display: none;
      }

      & ~ .wrapper .pricing-table .content .price .month-price {
        display: block;
      }
    }
  }

  & .labels {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  & .sub {
    background: linear-gradient(
      to right,
      $primary-color 0%,
      $secondary-color 100%
    );
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
    width: 60px;
    border-radius: 1.6rem;
    padding: 0.3rem;
    margin: 0 auto;

    & .circle {
      background-color: $base-lign-color;
      height: 1.4rem;
      width: 1.4rem;
      border-radius: 50%;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 50px auto;
  width: 100%;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.pricing-table {
  box-shadow: 0px 0px 18px #ccc;
  text-align: center;
  padding: 30px 0px;
  border-radius: 5px;
  position: relative;

  &:hover .head {
    border-bottom: 1px solid $primary-color;
  }

  & .head {
    border-bottom: 1px solid #eee;
    padding-bottom: 50px;
    transition: all 0.5s ease;

    & .title {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  & .content {
    & .sign-up {
      background: linear-gradient(
        to right,
        $primary-color 0%,
        $secondary-color 100%
      );
      border-radius: 40px;
      font-weight: 500;
      position: relative;
      display: inline-block;
    }

    & .btn {
      color: $base-lign-color;
      padding: 14px 40px;
      display: inline-block;
      text-align: center;
      font-weight: 600;
      transition: all 0.3 linear;
      border: none;
      font-size: $base-font-size;
      text-transform: capitalize;
      position: relative;
      text-decoration: none;
      margin: 2px;
      z-index: 9999;
      text-decoration: none;
      border-radius: 50px;

      &:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
      }
    }

    & .price {
      background: linear-gradient(
        to right,
        $primary-color 0%,
        $secondary-color 100%
      );
      width: 90px;
      height: 90px;
      margin: auto;
      line-height: 90px;
      border-radius: 50%;
      border: 5px solid $base-lign-color;
      box-shadow: 0px 0px 10px #ccc;
      margin-top: -50px;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    & ul {
      list-style-type: none;
      margin-bottom: 20px;
      padding-top: 10px;
      text-align: start;
      padding: 10px;
    

      & li {
        margin: 20px 0px;
        font-size: $base-font-size;
        color: #555;

        @media screen and (max-width: 700px) {
          margin: 20px auto;
        }
      }

      & img {
        height: 25px;
        position: relative;
        top: 5px;
      }

    }
  }

  .month-price,
  .year-price {
    color: $base-lign-color;
    font-size: 30px;
    font-weight: 700;
  }

  .month-price {
    display: none;
  }
}
